.mainContainer {
  display: grid;
  grid-template-columns: 16rem 1fr;
  padding-right: 1rem;
  background-color: var(--clr-black-2);
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 80rem;
  background-color: var(--clr-black-2);
}

.cardContainer {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  min-height: 85vh;
}
