.filterContainer {
  position: sticky;
  top: 0rem;
  box-shadow: 0 0 10px var(--light-shadow);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: sticky;
  padding: 1.5rem 2rem;
  width: 16rem;
  font-size: 1.1rem;
  background: rgba(72, 5, 215, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

  border: 1px solid rgba(209, 213, 219, 0.3);
  max-height: 100vh;
  border-bottom-right-radius: 0.5rem;
  accent-color: var(--clr-grey-1);
  color: #fff;
  font-weight: 800;
}
.filterHeading {
  margin: 0;
}

.filterHead {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}

.filterBtn {
  border: 1px solid var(--clr-grey-8);
  text-transform: uppercase;
  padding: 0.5rem;
  background: #455eb5;
  font-weight: 600;
  border-radius: 0.25rem;
  color: #fff;
}
.filterBtn:hover {
  background-color: var(--primary-color);
  cursor: pointer;
  border: none;
  color: #fff;
}

.filterCategory,
.filterSorting,
.filterRatings {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.categoryListItem,
.ratingListItem,
.filterSortingItem {
  display: flex;
  gap: 0.5rem;
}

.filterPricecontainer {
  display: flex;
  flex-direction: column;
}

.priceRange {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.filterPrice {
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
}

/* .filterPrice > input[type="ramge"] {
  -webkit-appearance: none;
  appearance: none;
} */
