.addressCardContainer {
  width: 40rem;
  height: 30rem;
  background-color: #fff;
  box-shadow: var(--dark-shadow);
}

.addressCardHeader {
  font-size: 1rem;
  color: var(--clr-primary-1);
  background-color: #ddd;
  padding: 0.75rem 0.5rem;
}

.addressCardBtn {
  padding: 1rem;
  margin: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--clr-grey-4);
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  transition: all 0.1s linear;
}

.addressCardBtn:hover {
  background-color: var(--clr-primary-1);
}
