.checkOutCardContainer {
  display: flex;
  flex-direction: column;
  max-height: 28rem;
  max-width: 20rem;
  justify-content: space-around;
  background-color: var(--clr-grey-2);
  box-shadow: var(--dark-shadow);
  color: var(--clr-gray-1);
  padding: 1rem 2rem;
}

.orderListHeading,
.priceDetailsHeading {
  font-size: 0.75rem;
  color: #fff;
  background-color: var(--clr-black-2);
  padding: 0.5rem;
  border: none;
}

.orderListDetails,
.priceDetailsContainer {
  display: flex;
  flex-direction: column;
}

.containerRow {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.containerRow > p {
  font-size: 1.1rem;
  font-weight: 800;
}

.checkOutBtn {
  padding: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: var(--clr-btn);
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  transition: all 0.1s linear;
  font-weight: 800;
}
.checkOutBtn:hover {
  background-color: var(--clr-primary-1);
}
