.addressContainer {
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.addressCard {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.25rem;
  width: 100%;
  border: 2px solid var(--clr-black-2);
  font-size: 1rem;
  border-radius: 0.25rem;
}

.addressCard > h3 {
  padding: 0;
  margin: 0;
}

.addressBtn > button {
  cursor: pointer;
  padding: 0.25rem 1rem;
  margin: 0.25rem 0.5rem;
  border: 1px solid var(--clr-grey-2);
  border-radius: 0.25rem;
}

.addressBtn > button:nth-of-type(2n + 1) {
  background: var(--clr-green-dark);

  color: #fff;
}
.addressBtn > button:nth-of-type(2n) {
  color: #fff;
  background-color: var(--clr-red-dark);
}

.addAddressBtn {
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  margin-top: 0.5rem;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--clr-btn);
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  transition-property: all;
  transition-delay: 200ms;
  transition-duration: 400ms;
}

.addAddressBtn:hover {
  background-color: var(--clr-primary-1);
  opacity: 0.8;
}
