.profileCard {
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.profileCard > h2 {
  font-weight: 800;
}

.profileCardvalue {
  font-weight: 800;
  color: var(--clr-gray-1);
}

.logoutbtn {
  margin-top: 0.75rem;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  padding: 1rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--clr-btn);
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  transition: all 0.1s linear;
}

.logoutbtn:hover {
  background-color: var(--clr-primary-1);
}
