.modalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30rem;
  height: 25rem;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: #fff;
  border: none;
  border-radius: 0.3rem;
  margin: 2rem 0rem;
  padding: 1rem;
  background-color: #1a2421;
  border-radius: 1rem;
}

.modalOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
  min-height: 116vh;
}

.modalContainer > h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}
.modalForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}

.modalForm input {
  padding: 0.5rem 0.2rem;
  background-color: inherit;
  border: 1px solid var(--clr-grey-4);
  border-radius: 2%;
  color: #fff;
}
.modalForm input:focus {
  outline: none;
}

.modalForm input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modalBtnContainer {
  display: flex;
  justify-content: space-evenly;
}

.modalBtnContainer > button {
  padding: 1rem 2rem;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  border-radius: 0.25rem;
  background-color: var(--clr-grey-4);
  border: none;
  font-weight: bold;
  color: white;
}

.addBtn:hover {
  background-color: var(--clr-green-dark);
}

.cancelBtn:hover {
  background-color: var(--clr-red-dark);
}

.dummyInputBtn:hover {
  background-color: var(--clr-primary-1);
}
